$social-color: #ecd9d9;
footer {
  .footer-name {
    text-decoration: none;
  }
  padding: 49px 0 5px 0;
  text-align: center;
  .social {
    margin-bottom: 19px;
    a {
      color: $social-color;
      font-size: 2.8rem;
      transition: 1s linear;
      margin: 0 16px 0;
      text-decoration: none;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  .copyright {
    font-size: 12px;
    line-height: 41px;
    letter-spacing: -0.17px;
  }
}
